ipykernel
pandas
numpy
matplotlib
plotly
seaborn
xgboost
catboost
pymongo
from_root
scikit-learn==1.2.2
scipy==1.10.1
imbalanced-learn==0.10.1
contourpy==1.0.7
dill
PyYAML
neuro_mf
boto3
mypy-boto3-s3
botocore
fastapi
uvicorn
jinja2
python-multipart
python-dotenv
-e .